# See: https://github.com/ovh/ai-training-examples/blob/main/jobs/flask/object-detection-yolov5-app/requirements.txt
pandas

opencv-python-headless

matplotlib

seaborn

onnxoptimizer==0.2.7

onnxruntime==1.8.0

yolox==0.3.0

inventa==0.0a15