# See: https://github.com/ovh/ai-training-examples/blob/main/jobs/flask/object-detection-yolov5-app/requirements.txt
pandas

opencv-python-headless

matplotlib

seaborn

onnxoptimizer==0.3.13

onnxruntime

#yolox==0.3.0
git+https://github.com/adalkiran/YOLOX.git@main


inventa==0.0a15

prometheus-client